@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Define the aeonik fonts for all weights */
  --font-aeonik-regular: 'AeonikRegular', Arial, Helvetica, sans-serif;
  --font-aeonik-bold: 'AeonikBold', Arial, Helvetica, sans-serif;
  --font-aeonik-light: 'AeonikLight', Arial, Helvetica, sans-serif;
  --font-aeonik-bold-italic: 'AeonikBoldItalic', Arial, Helvetica, sans-serif;
  --font-aeonik-light-italic: 'AeonikLightItalic', Arial, Helvetica, sans-serif;
  --font-aeonik-regular-italic: 'AeonikRegularItalic', Arial, Helvetica, sans-serif;

  /* New aeonik fonts for extra-thin, extra-bold, and thin weights */
  --font-aeonik-air: 'AeonikAir', Arial, Helvetica, sans-serif; /* extra-thin */
  --font-aeonik-black: 'AeonikBlack', Arial, Helvetica, sans-serif; /* extra-bold */
  --font-aeonik-thin: 'AeonikThin', Arial, Helvetica, sans-serif; /* thin */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-aeonik-regular);
  -webkit-font-smoothing: antialiased; /* Improves font rendering on webkit browsers */
  -moz-osx-font-smoothing: grayscale; /* Improves font rendering on Firefox */
}

/* Global bold styles */
b, strong {
  font-family: var(--font-aeonik-bold);
}


/* Targeting h1 with Tailwind's responsive typography and custom font */
h1 {
  @apply text-4xl md:text-5xl lg:text-6xl font-extrabold leading-tight tracking-tight;
  font-family: var(--font-aeonik-regular); /* Ensure aeonik-bold font is applied */
}

/* Custom styles for h2, h3, h4 with responsive typography */
h2 {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold leading-snug tracking-tight;
  font-family: var(--font-aeonik-bold); /* Apply aeonik-bold font */
}

h3 {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold leading-snug tracking-tight;
  font-family: var(--font-aeonik-bold); /* Apply aeonik-bold font */
}

h4 {
  @apply text-xl md:text-2xl lg:text-3xl font-bold leading-snug tracking-tight;
  font-family: var(--font-aeonik-bold); /* Apply aeonik-bold font */
}


/* Additional styles for italic or different weights */
.em, i {
  font-family: var(--font-aeonik-regular-italic);
}

.font-light {
  font-family: var(--font-aeonik-light);
}

.font-bold {
  font-family: var(--font-aeonik-bold);
}

.font-regular {
  font-family: var(--font-aeonik-regular);
}

.font-light-italic {
  font-family: var(--font-aeonik-light-italic);
}

.font-bold-italic {
  font-family: var(--font-aeonik-bold-italic);
}

.font-extrabold {
  font-family: var(--font-aeonik-black); /* Changed to use extra-bold font */
}

.font-thin {
  font-family: var(--font-aeonik-thin); /* Added for thin font */
}

.font-air {
  font-family: var(--font-aeonik-air); /* Added for extra-thin font */
}
